<htm<html>
<head>
<style>
{box-sizing: border-box;}

.body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 8px;
}

.header a.logo {
  font-size: 30px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
  
 
.footer {
  text-align: center;
  padding: 8px;
  background-color: dodgerblue;
  color: white;
}
 
 </style>
</head>
<body>
<marquee bgcolor="red">Fitness for your mind. | </marquee>
<div class="header">
  <div class="header-right">
    <a class="active" href="https://www.youtube.com/watch?v=iVy6zz_m8lg">ABOUT GENERIC</a>
   
  </div>
</div>

<div style="padding-left:0px">
  <h1 style="background-color:dodgerblue;">GENERIC MEDICINE</h1>
  <h1 style="background-color:dodgerblue;">information about generic medicine</h1>

 </div>
 <p>A generic drug is a pharmaceutical drug that contains the same chemical substance as a drug that was originally protected by chemical patents. Generic drugs are allowed for sale after the patents on the original drugs expire. Because the active chemical substance is the same, the medical profile of generics is believed to be equivalent in performance.A generic drug has the same active pharmaceutical ingredient (API) as the original, but it may differ in some characteristics such as the manufacturing process, formulation, excipients, color, taste, and packaging</p>
 <p>Although they may not be associated with a particular company, generic drugs are usually subject to government regulations in the countries in which they are dispensed. They are labeled with the name of the manufacturer and a generic non-proprietary name such as the United States Adopted Name (USAN) or International Nonproprietary Name (INN) of the drug. A generic drug must contain the same active ingredients as the original brand-name formulation. The U.S. Food and Drug Administration (FDA) requires generics to be identical to or within an acceptable bioequivalent range of their brand-name counterparts, with respect to pharmacokinetic and pharmacodynamic properties.(The FDA's use of the word "identical" is a legal interpretation, not literal.)</p>
 <p>Biopharmaceuticals, such as monoclonal antibodies, differ biologically from small molecule drugs. Biosimilars have active pharmaceutical ingredients that are almost identical to the original product and are typically regulated under an extended set of rules, but they are not the same as generic drugs as the active ingredients are not the same as those of their reference products.</P>
  <details open>
 <summary>India</summary>
</details>
<a href="http://janaushadhi.gov.in/">http://janaushadhi.gov.in</a>
 <p>The Indian government began encouraging more drug manufacturing by Indian companies in the early 1960s, and with the Patents Act in 1970. The Patents Act removed composition patents for foods and drugs, and though it kept process patents, these were shortened to a period of five to seven years. The resulting lack of patent protection created a niche in both the Indian and global markets that Indian companies filled by reverse-engineering new processes for manufacturing low-cost drugs. The code of ethics issued by the Medical Council of India in 2002 calls for physicians to prescribe drugs by their generic names only.[citation needed] India is a leading country in the world's generic drugs market, with Sun Pharmaceuticals being the largest pharmaceutical company in India. Indian generics companies exported US$17.3 billion worth of drugs in the 2017–18 (April–March) year.</P>
 </details>
 <details open>
 <summary>Nomenclature</summary>
 <p>Generic drug names are constructed using standardized affixes that distinguish drugs between and within classes and suggest their action.</P>
 </details>
 <details open>
  <summary>Regulation</summary>
  <p>Most developed nations require generic drug manufacturers to prove that their formulations are bioequivalent to their brand-name counterparts.Bioequivalence does not mean generic drugs must be exactly the same as the brand-name product ("pharmaceutical equivalent"). Chemical differences may exist; a different salt or ester may be used, for instance.Different inactive ingredients means that the generic may look different from the originator brand.</P>
   </details>
   <details open>
    <summary>Acceptance</summary>
    <p>Some generic drugs are viewed with suspicion by doctors. For example, warfarin (Coumadin) has a narrow therapeutic window and requires frequent blood tests to make sure patients do not have a subtherapeutic or a toxic level. A study performed in Ontario showed that replacing Coumadin with generic warfarin was safe, but many physicians are not comfortable with their patients taking branded generic equivalents.In some countries (for example, Australia) where a drug is prescribed under more than one brand name, doctors may choose not to allow pharmacists to substitute a brand different from the one prescribed unless the consumer requests it.</p>
   </details>
   
   <details open>
    <summary>Fraud</summary>
    <p>A series of scandals around the approval of generic drugs in the late 1980s shook public confidence in generic drugs; there were several instances in which companies obtained bioequivalence data fraudulently, by using the branded drug in their tests instead of their own product, and a congressional investigation found corruption at the FDA, where employees were accepting bribes to approve some generic companies' applications and delaying or denying others</p>
   </details>
   <div>
   <img src="img/ge.png" width="1510" height="600">
   </div>
   
 </div>
 <footer>
  <p>Author: SAURABH MISHRA<br>
  <a href="mailto:saurabh78.mmm@gmail.com">LIFE CARE</a></p>
</footer>
 </body>
   </html>